In [1]:
import pandas as pd

In [13]:
data = pd.read_csv("data.csv", index_col=0)
country_counts = data.country.value_counts().to_frame(name="count").reset_index()
country_counts = country_counts.rename(columns={"index": "country"})

In [14]:
country_population = pd.read_csv("country_population.csv")

In [87]:
cdata = country_counts.merge(country_population, on="country", how="left")

In [88]:
cdata["pop_per_cnt"] = (cdata.population / cdata["count"]) / 1_000

In [89]:
country_name = data[['country','country_name']].drop_duplicates()
country_to_name = dict(zip(country_name.country, country_name.country_name))
country_to_name['tw'] = 'Taiwan'
country_to_name['ru'] = 'Russia'

In [90]:
cdata.country = cdata.country.map(country_to_name)

In [91]:
cdata.pop_per_cnt = cdata.pop_per_cnt.round(1)

In [92]:
cdata.population = (cdata.population/1_000_000).round(2)

In [95]:
cdata.columns = [
    "Country",
    "Dataset Count",
    "Population (millions)",
    "Pop per Datum (thousands)",
]

In [97]:
cdata[:20]

,Country,Dataset Count,Population (millions),Pop per Datum (thousands)
0,United States,19007,323.13,17.0
1,France,6117,66.90,10.9
2,Russia,5399,144.34,26.7
3,Japan,5161,126.99,24.6
4,United Kingdom,4825,65.64,13.6
5,Brazil,4442,207.65,46.7
6,Canada,3624,36.29,10.0
7,Mexico,3480,127.54,36.6
8,Spain,3267,46.44,14.2
9,Australia,3246,24.13,7.4
10,South Africa,2437,55.91,22.9
11,Italy,1947,60.60,31.1
12,Norway,1897,5.23,2.8
13,Poland,1732,37.95,21.9
14,Finland,1723,5.50,3.2
15,Sweden,1640,9.90,6.0
16,Argentina,1538,43.85,28.5
17,Thailand,1371,68.86,50.2
18,Romania,1163,19.71,16.9
19,New Zealand,1139,4.69,4.1